
.navbar {
    background-color:grey;
}

.jumbotron {
    background-color: beige;
    background-image: url(./head.png); 
    font-family: 'Poly', serif;
    background-size: cover;
    color: lightseagreen;
}

body {
    background-image: url(./walrus.jpg);
}

.note-content {
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    resize: none;
}

.material-icons {
    color: lightblue;
}

h3 {
    color:lightseagreen;
}